.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-loadmore {
  margin: .5rem;
  width: 10rem;
  height: 5rem;
}

@media (min-width: 960px) {
  .photo-wrapper {
    /* flex: 1 0 33%; */
  }
}
